/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt { flavor = "hold-preferred"; };

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE         &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                 &kp N6    &kp N7      &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q   &kp W   &kp F         &kp P         &kp B                                  &kp J     &kp L       &kp U      &kp Y    &kp SEMI  &kp EQUAL
&mt LCTRL ESCAPE  &kp A   &kp R   &kp S         &kp T         &kp G                                  &kp M     &kp N       &kp E      &kp I    &kp O     &kp SQT
&kp LSHFT         &kp Z   &kp X   &kp C         &kp D         &kp V      &kp LBKT       &kp RBKT     &kp K     &kp H       &kp COMMA  &kp DOT  &kp FSLH  &mo 1
                                  &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE  &lt 2 ENTER    &lt 1 ENTER  &kp BSPC  &caps_word  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans    &trans         &trans            &trans     &trans                       &trans     &trans      &trans        &trans        &trans       &trans
&trans  &trans    &kp LESS_THAN  &kp GREATER_THAN  &kp BSLH   &kp GRAVE                    &kp AMPS   &kp UNDER   &kp LBKT      &kp RBKT      &trans       &trans
&trans  &kp EXCL  &kp MINUS      &kp PLUS          &kp EQUAL  &kp HASH                     &kp PIPE   &kp COLON   &kp LS(LPAR)  &kp LS(RPAR)  &kp PERCENT  &trans
&trans  &trans    &kp FSLH       &kp STAR          &kp CARET  &trans     &trans    &trans  &kp TILDE  &kp DOLLAR  &kp LS(LBRC)  &kp LS(RBRC)  &trans       &trans
                                 &trans            &trans     &trans     &trans    &trans  &trans     &trans      &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans     &trans        &trans                    &trans    &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans                    &trans    &kp LC(D)  &kp LC(U)  &trans     &trans  &trans
&trans  &trans  &trans  &kp UNDER  &kp LS(DLLR)  &trans                    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans  &trans    &trans  &trans    &trans     &trans     &trans     &trans  &trans
                        &trans     &trans        &trans  &trans    &trans  &trans    &trans     &trans
            >;
        };
    };
};
